# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Test results
test-results/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
